.contact{
    max-width: 1450px;
    margin: 0 auto;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

    .contactContainer{
        text-align: center;
        
        h1{
            color: #d8e0e7;
            font-size: 3rem;
            margin-bottom: 0;

            @media (max-width: 540px) {
                font-size: 2.5rem;
                
            }

            @media (max-width: 400px) {
                font-size: 2.1rem;
                
            }
        }
        p{
            margin-top: 1rem;
            font-size: 1.6rem;
            color:#a2a8ad;
            margin-bottom: 5rem;

            @media (max-width: 540px) {
                font-size: 1.3rem;
                
            }
        }


        .btn{
            font-size: 1.2rem;
            border: 1px solid #52b788;
            background-color: transparent;
            border-radius: 5px;
            padding: 20px 25px;
            color: #52b788;
            cursor: pointer;


            &:hover{
                transition: all ease-in-out 150ms;
                color: #ced4da;
                background-color: #52b788;;
                scale: (1.03);
            }

        }


    }

    .footer{
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;

        .icons{
            display: flex;
            gap: 1rem;
        }

        p{
        
            color: #a2a8ad;
            font-size: 1.1rem;
        }

        @media (max-width: 450px) {
            flex-direction: column;
        }
    }
    

    
}